.searchbar-input {
  // all: unset;
  // outline: unset;
  border: none;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.searchbar-input:focus {
  outline: none;
  border-bottom: 2px solid black;
}
